/**
 * @name banditv2
 * @author Elisniper
 * @version 1.2.0
 * @description Discord Glass Wave Theme
 * @source https://github.com/Elisniper/Glass-Wave
 * @website https://xbased.net
 * @BDEditor Glass Wave
*/

@import url('https://elisniper.github.io/Glass-Wave/release/import.css');

:root {
  --var-background: url('https://github.com/Vantix-Development/vantix-development.github.io/blob/main/assets/Screenshot_1574.png.64de838f6d5965875594b1fd564f0e9e.png?raw=true');
  --var-background-size: cover;
  --var-background-position: center;
  --var-accent: #B007CD;
  --var-popout-color: rgb(149,33,169);
  --var-chat-bubbles-background: #741B83;
  --var-chat-mentioned: #560C63;
  --var-font: gg sans;
}

/* Any custom CSS below here */


